@model AlmacenTecnologico.Models.ViewModel.UsuarioViewModel

@if (Model is not  null)
{
    <div class="align-content-center">

        <div class="mb-3">
            <h1 class="display-4">Eliminar  Usuario:</h1>
            <hr />
        </div>
        <form method="post">
            @Html.HiddenFor(l => l.Id)
            <div>
                <div class="card text-center card text-bg-danger mb-3">
                    <div class="card-header">
                        Identificador Usuario : @Model.Id
                    </div>
                    <div class="card-body">

                        <p class="card-text">Nombre Usuario: @Model.NombreUsuario</p>
                        <p class="card-text">Identificador Empleado:  @Model.Persona.Id</p>
                        <p class="card-text">Nombre Empleado :  @Model.Persona.Nombre</p>

                        <input type="submit" class="btn btn-danger" value="Eliminar Usuario" />
                        <a asp-area="" asp-controller="user" asp-action="index" class="btn btn-primary">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
}
else
{
    <p>No hay registros para eliminar :(</p>
    <a class="btn btn-success" asp-area="" asp-controller="product" asp-action="index">Volver al inicio</a>
}