@model AlmacenTecnologico.Models.ViewModel.PedidoViewModel

@if (Model != null)
{
    <div class="align-content-center">

        <div class="mb-3">
            <h1 class="display-4">Eliminar Pedido:</h1>
            <hr />
        </div>
        <form method="post">
            @Html.HiddenFor(l => l.Id)
            <div>
                <div class="card text-center card text-bg-danger mb-3">
                    <div class="card-header">
                        Identificador Pedido : @Model.Id
                    </div>
                    <div class="card-body">

                        <p class="card-text">Identificador Cliente: @Model.Cliente.Id</p>
                        <p class="card-text">Nombre Cliente: @Model.Cliente.RazonSocial</p>
                        <p class="card-text">Identificador Empleado: @Model.Empleado.Id</p>
                        <p class="card-text">Nombre Empleado:  @Model.Empleado.Nombre @Model.Empleado.Apellido</p>

                        <input type="submit" class="btn btn-danger" value="Eliminar Pedido" />
                        <a asp-area="" asp-controller="maker" asp-action="index" class="btn btn-primary">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
}
else
{
    <p>No hay registros para eliminar :(</p>
    <a class="btn btn-success" asp-area="" asp-controller="order" asp-action="index">Volver al inicio</a>
}