@model List<AlmacenTecnologico.Models.ViewModel.PedidoViewModel>
@{
    ViewData["Title"] = "Panel Pedidos";
}
<div class="text-center">
    <h1 class="display-4">Panel Pedidos</h1>
    <hr />
</div>
<div class="mb-3">
    @if (Model != null && Model.Count > 0)
    {
        <div class="align-content-lg-end mb-3">
            @if (User.IsInRole("admin"))
            {
                <a class="btn btn-warning" asp-area="" asp-controller="order" asp-action="recover">Recuperar Pedidos</a>
            }
            <a class="btn btn-success" asp-area="" asp-controller="order" asp-action="add">Generar Pedido</a>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Cliente</th>
                <th>Venta realizada por </th>
                <th>Fecha</th>
                <th colspan="2">Estado</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Cliente.RazonSocial</td>
                    <td>@item.Empleado.Nombre</td>
                    <td>@item.FechaPedido.ToString("dd/MM/yyyy")</td>
                    <td>@item.Estado</td>
                    <td><a class="btn btn-success" asp-area="" asp-controller="orderdetail" asp-action="index" asp-route-id="@item.Id">Ver Detalle</a></td>
                    <td>
                        @if (User.IsInRole("admin"))
                        {
                            <a class="btn btn-danger" asp-area="" asp-controller="order" asp-action="delete" asp-route-id="@item.Id">Eliminar</a>
                            <a class="btn btn-warning" asp-area="" asp-controller="order" asp-action="edit" asp-route-id="@item.Id">Editar</a>
                        }
                        else
                        {
                            <input class="btn btn-secondary" value="Editar" onclick="alert('Debes ser administrador para realizar esta acción')" />
                            <input class="btn btn-secondary" value="Eliminar" onclick="alert('Debes ser administrador para realizar esta acción')" />
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="text-center">
            <p>No hay pedidos en el sistema :(</p>
        </div>
        <div>
            <a class="btn btn-success" asp-area="" asp-controller="order" asp-action="add">Generar un pedido</a>
            @if (User.IsInRole("admin"))
            {
                <a class="btn btn-warning" asp-area="" asp-controller="order" asp-action="recover">Recuperar pedidos</a>
            }
        </div>
    }

</div>